<h2>Search for Tenants</h2>

<%= form_for(Tenant.new, url: tenants_search_path) do |f| %>
  <%= render :partial => 'search_fields', :locals => { :f => f } %>
<br />
  <%= f.submit "Search", class: "submit" %>
<% end %>