<h2>Search for Properties</h2>

<%= form_for(Property.new, url: properties_search_path) do |f| %>
  <%= render :partial => 'search_fields', :locals => { :f => f } %>
<br />
  <%= f.submit "Search", class: "submit" %>
<% end %>