<h2>Search for Tours</h2>

<%= form_for(Tour.new, url: tours_search_path) do |f| %>
  <%= render :partial => 'search_fields', :locals => { :f => f } %>
<br />
  <%= f.submit "Search", class: "submit" %>
<% end %>