<h2>Search for Rooms</h2>

<%= form_for(Room.new, url: rooms_search_path) do |f| %>
  <%= render :partial => 'search_fields', :locals => { :f => f } %>
<br />
  <%= f.submit "Search", class: "submit" %>
<% end %>