<h2>Search for Leases</h2>

<%= form_for(Lease.new, url: leases_search_path) do |f| %>
  <%= render :partial => 'search_fields', :locals => { :f => f } %>
<br />
  <%= f.submit "Search", class: "submit" %>
<% end %>