/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 */

/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* global */

html {    }
body { background-color:#dddddd;    }

/* headings */

h1, h2, h3, h4, h5, h6 {font-weight: bold; color:#000;}

h1 { font-size:24px;}
h2 { font-size:20px;}
h3 { font-size:15px;}
h4 { font-size:14px;}
h5 { font-size:14px;}
h6 { font-size:14px;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0; }

/* text elements */

p {
	color:#000;
	font-size:12px;
	line-height:150%;
}
p .left {
	margin: 1.5em 1.5em 1.5em 0;
	padding:0;
}
p .right {
	margin: 1.5em 0em 1.5em 1.5em;
	padding:0;
}

a {}
a: link { color:#00f; }
a: visited { color:#0f0; }
a: active { color:#000; }
a: focus { color:#666; }
a: hover { color:#f00; }

blockquote {
	color:#000;
	font-size:12px;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}

/* images */

/* lists */

ul { }
ol { list-style-type:decimal; }

ul li {
	color:#000;
	font-size:12px;
}
ol li {
	color:#000;
	font-size:12px;
}

dl                {    }
dt                {    }
dd                {    }

/* tables */

table {
	width:100%;
}

table td {
	border: 1px solid #333;
	padding: 2px;
}
tr:nth-child(odd) { background-color:#eee; }
tr:nth-child(even) { background-color:#fff; }

th {
	border: 1px solid #333;
	font-weight: bold;
}
thead, th { background-color: #ccc; }

thbody {    }

th,td,caption {    }
caption {    }

tfoot {    }
.tfooter { background-color: #ccc; text-align:center; text-style: italic; }

caption { background: #efefef; }

/* miscellaneous */

sup, sub        { line-height: 0; }

abbr, acronym     { border-bottom: 1px dotted #666; }
address            {    }
del                { background: #FFCECE; color:#f00; }

code, pre        { background-color:#FF9; padding:2px 0px; margin:4px 25px; font-family:"Courier New", Courier, monospace; font-size:12px; font-style:normal; }

/* containers */
#wrapper {
	width:900px;
	margin:0px auto 0px auto;
	background-color: #ffffff;    
    border-right:1px #211D1E solid;
	border-left:1px #211D1E solid;
}

#top {
	background-color: #ffffff;
	width:100%;
	padding:10px 0;
	overflow: hidden;
}

#logo {
	margin: 0 0 0 10px;
	float: left;
}

#welcome {
	margin: 0 10px 0 0;
	float: right;
	font-style: normal;
	font-size: 13px;
	text-align: right;
}
#welcome p {
	text-align: right;
	font-weight: bold;
	display: inline;
	font-size: 14px;
}
#welcome input {
	width: 200px;
	margin-bottom: 1px;
	margin-top: 0px;
	margin-right: 0px;
}
#welcome .submit {
	width: 75px;
}

/****************************Hover Nav*********************************/

#topnav {
	width:100%;
	background-color:#211D1E;
	float:left;
}
#topnav ul li {
	float: left;
	display: inline;
	position: relative;
    color: #ffffff;
	background-color: #211D1E;
}
#topnav ul li a {
	text-align: center;
	font-size: 14px;
	padding: 12px 0 0 0;
	height: 25px;
	width: 100px;
	display: block;
} 
#topnav ul ul {
	position: absolute;
	visibility:hidden;
}
#topnav ul li:hover ul {
	visibility:visible;
}
#topnav li:hover {
	text-decoration:none;
}
#topnav ul li:hover ul li a:hover {
	text-decoration:none;
}
#topnav a:link {
	text-decoration:none;
	color:#ffffff;
}
#topnav a:visited {
	text-decoration:none;
	color:#ffffff;
}
#topnav a:active {
	text-decoration:none;
	color:#ffffff;
}
#topnav a:hover {
	background-color:#0066FF;
	color:#FFFFFF;
}

/******************** BANNER *********************/
#banner { }
#banner img {
	border-top:3px #ffffff solid;
}
#subbanner {
	height: 40px;
	width: 100%;
	background-color: #211D1E; 
	padding: 10px 0;
	overflow: hidden;
}
#subbanner h1 {
	color:#ffffff;
	text-align:center;
	padding: 10px 0;
}

/******************NAVIGATION*******************/
#leftnav {
	width:200px;
	height:auto;
	float:left;
	text-align:center;
}

/********* Search *********/
.subfields {
	border: solid 1px #000;
	padding: 10px;
}


.active a {
	padding: 3px 20px;
    background: #0066FF;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.notactive a { 
    padding: 3px 20px;
    background:#555555;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #222222;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.fixedNav {
	position: fixed;
	float: left;
}
#searchnav a:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
#searchnav a:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
#searchform {
	width:200px;
	height:auto;
	margin:10px 15px auto 5px;
	font-size:14px;
	display:inline-block; 
	text-align:center;
}
#searchform input {
	width:130px;
	height:23px;
	margin-top:2px;
	background: #DDDDDD;
	padding:0 7px;
}
#searchform .submit {
	margin: 5px 0 0 45px;
	width: 75px;
	background:#211D1E;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #AEA4A7;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none; 
}
#searchform .submit:hover {
	background: #356094;
	border: solid 1px #2A4E77;
}
#searchform .submit:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #2E5481;
	border: solid 1px #203E5F;
}
#searchform label {
	text-align:left;
	font-size:15px;
}      

/*************Input*************/
input {
    width:350px;
    height:23px;
    margin:2px 0px 16px 10px;
    background: #DDDDDD;
    padding:0 7px;
	border: 1px #333 solid;
}
textarea {
    width:350px;
    margin:2px 0px 16px 10px;
    background: #DDDDDD;
    padding:0 7px;
    height:170px;
}
select {
    margin: 2px 0px 16px 10px;
    height: 23px;
    padding: 0 7px;
}
.submit {
    margin: 5px 0 0 160px;
    width: 75px;
    background:#211D1E;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #AEA4A7;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; 
}
.submit:hover {
	background: #356094;
    border: solid 1px #2A4E77;
}

/********** Content ***********/
#content-wrapper { }
#content h2 {
	margin: 0 0 10px 10px;
	font-size:20px;
	padding: 10px 0 0 0;
}
#content {
	width:850px;
	height:auto;
	padding: 20px 20px;
	overflow:hidden; 
}
#content h1 {
    margin: 0 0 0 10px;
    font-size:20px; 
    border-bottom:1px #777777 solid;
    padding: 0 0 10px 0;
}
#content p {
    margin: 16px 10px;
    line-height:160%;
    padding: 0 0 10px 0
}
#content h3 {
    margin: 20px 10px;
    border-top:1px #777777 solid;
    padding: 20px 0 0 0;
}

/********* Foot *********/
#footer {
	clear:both;
	height:15px;
	padding:10px 10px;
	background-color:#000000;
}
#footer p {
	color: #ffffff;
	text-align: center;
	font-size: 11px;
}
#footer a {
	color: #ffffff;
	text-decoration: underline;
}
#footer a:hover {
	color: #cccccc;
	text-decoration: underline;
}

/* forms */
form {
	text-align:left;
	margin:20px;
}
label {
    float: left;
	width: 150px;
    text-align:right;
	display:block;
}
br {
	clear: left;
}

/* Miscellaneous */

.copyright-text {
	font-size:80%;
	font-style:italic;
	color:#333;
}
.footer-text {
	font-size:80%;
	font-style:normal;
	color:#666;
}
.title {
	font-size:18px;
	font-weight:bold;
	color:#333;
}
.subtitle {
	font-size:14px;
	font-style:italic;
	color:#333;
}

/* Success, info, notice and error/alert boxes */
.error, .alert, .notice, .success, .info {
    padding:0.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}
.error, .alert {
	background:#fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
}
.notice {
	background:#fff6bf;
	color: #514721;
	border-color: #ffd324;
}
.success {
	background:#e6efc2;
	color: #264409;
	border-color: #c6d880;
}
.info {
	background:#d5edf8;
	color: #205791;
	border-color: #92cae4;
}
.error a {
	color: #8a1f11;
}
.alert a {
	color: #8a1f11;
}
.notice a {
	color: #514721;
}
.success a {
	color: #264409;
}
.info a {
	color: #205791;
}


